spring:
  profiles:
    default: local,secret
    group:
      dev: local,secret
      prod: prod
  jpa:
    properties:
      hibernate:
        format_sql: false

server:
  servlet:
    context-path: /api

springdoc:
  api-docs:
    enabled: true
    path: /v1/api-docs
  swagger-ui:
    path: /swagger-ui/index.html
    display-request-duration: true
    doc-expansion: list
    persistAuthorization: true
