spring:
  datasource:
    url: jdbc:mysql://localhost:3306/doktoridb?serverTimezone=Asia/Seoul&useSSL=false
    username: root
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false

logging:
  level:
    org.hibernate.SQL: debug

app:
  cookie:
    secure: false
    same-site: Lax
ai:
  base-url: ${AI_BASE_URL:https://dev.doktori.kr/ai}
  api-key: ${AI_API_KEY}